<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/account_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-account clearfix">
			<div class="content">
				<p class="risk-test">
					<span>您尚未完成出借人风险评测，为了顺利投资，请<a href="#">立即测评！</a></span>
					<i class="index-icon cicon f-fr"></i>
				</p>
				<div class="side f-fl">
					<div class="item">
						<p><i class="side-icon icon-1"></i>我的账户</p>
						<ul>
							<li><a href="#">账户总览</a></li>
							<li><a href="#">充值提现</a></li>
							<li><a href="#">投资记录</a></li>
							<li><a href="#">资金流水</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-2"></i>我的奖励</p>
						<ul>
							<li class="cur"><a href="#">红包奖券</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-3"></i>账号管理</p>
						<ul>
							<li><a href="#">安全认证</a></li>
							<li><a href="#">银行卡</a></li>
							<li><a href="#">我的消息</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-4"></i>推广赚钱</p>
						<ul class="bb-none">
							<li><a href="#">邀请好友</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-coupon">
						<h3 class="title">红包奖券</h3>
						<div class="tips">
							<p class="tit">温馨提示</p>
							<div class="detail">
								<p><label>1、</label><span>每次购买只能使用1个投资红包或1张加息券。</span></p>
								<p><label>2、</label><span>投资红包使用成功后，会在1个工作日内自动返现到可用余额。</span></p>
								<p><label>3、</label><span>购买项目时使用了投资红包/加息券，若投资结果显示申请已提交，但实际未成功购买该项目，则此投资红包/加息券会立即返还至您的红包奖券。</span></p>
							</div>
						</div>
						<div class="stabs plr24 clearfix">
							<div class="tabs f-fl">
								<a class="cur mr50" data-id="1">未使用</a>
								<a data-id="2">已使用/已过期</a>
							</div>
							<div class="sbox f-fr">
								<a class="cur">全部</a>
								<a>红包</a>
								<a class="mr0">奖券</a>
							</div>
						</div>
						<div id="coupon1">
							<div class="tbox plr24">
								<a class="cur mr55" data-id="1">新获得</a>
								<a data-id="2">即将过期</a>
							</div>
							<ul class="clist plr24 clearfix">
								<li>
									<p class="tnum cicon cicon1">
										<span class="num"><small>￥</small>120</span>
										<span class="type">抵扣红包</span>
									</p>
									<div class="detail">
										<p class="lg">[单笔投资50,000元抵扣]</p>
										<p class="normal">元宵节活动奖励</p>
										<p class="sm pt12">有效期：20170608-20170903</p>
									</div>
								</li>
								<li>
									<p class="tnum cicon cicon1">
										<span class="num"><small>￥</small>120</span>
										<span class="type">抵扣红包</span>
									</p>
									<div class="detail">
										<p class="lg">[单笔投资50,000元抵扣]</p>
										<p class="normal">元宵节活动奖励<span class="last">20天后过期</span></p>
										<p class="sm pt12">有效期：20170608-20170903</p>
									</div>
								</li>
								<li>
									<p class="tnum cicon cicon3">
										<span class="num">3.0<small>%</small></span>
										<span class="type">加息券</span>
									</p>
									<div class="detail">
										<p class="lg">3个月及以上项目</p>
										<p class="lg">单笔投资100元起可用</p>
										<p class="normal">7月老用户福利</p>
										<p class="sm">有效期：20170608-20170903</p>
									</div>
								</li>
								<li>
									<p class="tnum cicon cicon3">
										<span class="num">3.0<small>%</small></span>
										<span class="type">加息券</span>
									</p>
									<div class="detail">
										<p class="lg">3个月及以上项目</p>
										<p class="lg">单笔投资100元起可用</p>
										<p class="normal">7月老用户福利<span class="last">20天后过期</span></p>
										<p class="sm">有效期：20170608-20170903</p>
									</div>
								</li>
							</ul>
						</div>
						<div id="coupon2" class="hide">
							<ul class="clist mt30 plr24 clearfix">
								<li>
									<i class="used f-pa"></i>
									<p class="tnum cicon cicon2">
										<span class="num">3.0<small>%</small></span>
										<span class="type">加息券</span>
									</p>
									<div class="detail">
										<p class="lg">3个月及以上项目</p>
										<p class="lg">单笔投资100元起可用</p>
										<p class="normal">7月老用户福利</p>
										<p class="sm">有效期：20170608-20170903</p>
									</div>
								</li>
								<li>
									<p class="tnum cicon cicon2">
										<span class="num">3.0<small>%</small></span>
										<span class="type">加息券</span>
									</p>
									<div class="detail">
										<p class="lg">3个月及以上项目</p>
										<p class="lg">单笔投资100元起可用</p>
										<p class="normal">7月老用户福利</p>
										<p class="sm">有效期：20170608-20170903</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
	</body>
</html>