<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/account_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-account clearfix">
			<div class="content">
				<p class="risk-test">
					<span>您尚未完成出借人风险评测，为了顺利投资，请<a href="#">立即测评！</a></span>
					<i class="index-icon cicon f-fr"></i>
				</p>
				<div class="side f-fl">
					<div class="item">
						<p><i class="side-icon icon-1"></i>我的账户</p>
						<ul>
							<li class="cur"><a href="#">账户总览</a></li>
							<li><a href="#">充值提现</a></li>
							<li><a href="#">投资记录</a></li>
							<li><a href="#">资金流水</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-2"></i>我的奖励</p>
						<ul>
							<li><a href="#">红包奖券</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-3"></i>账号管理</p>
						<ul>
							<li><a href="#">安全认证</a></li>
							<li><a href="#">银行卡</a></li>
							<li><a href="#">我的消息</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-4"></i>推广赚钱</p>
						<ul class="bb-none">
							<li><a href="#">邀请好友</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-index">
						<div class="hd clearfix">
							<div class="info-box f-fl clearfix">
								<p class="avatar f-fl"><img src="../../Content/images/account/avatar.png"></p>
								<div class="detail">
									<div class="tips f-pr">
										<span>下午好, 136***31！下午也要快乐的生活和工作哦！</span>
										<a class="sign-in f-pa">签到</a>  <!-- 当日签到后，文字变为 已签到 -->
										<span class="already f-pa">已累计签到25天</span>
									</div>
									<div class="sec-level">
										<!-- 已完成认证 li 增加 .cur -->
										<ul class="auth-list f-fl clearfix">
											<li class="cur"><i class="auth-icon icon-1"></i></li>
											<li>
												<i class="auth-icon icon-2"></i>
												<span>您还未进行安全认证，<a href="#">去认证&gt;</a></span>
											</li>
											<li>
												<i class="auth-icon icon-3"></i>
												<span>您还未绑定银行卡，<a href="#">去绑定&gt;</a></span>
											</li>
											<li>
												<i class="auth-icon icon-4"></i>
												<span>您还未设置交易密码，<a href="#">去设置&gt;</a></span>
											</li>
											<li>
												<i class="auth-icon icon-5"></i>
												<span>您还未进行邮箱认证，<a href="#">去认证&gt;</a></span>
											</li>
											<li>
												<i class="auth-icon icon-6"></i>
												<span>您还未进行风险测评，<a href="#">去测评&gt;</a></span>
											</li>
										</ul>
										<!-- 中.middle 高.high -->
										<span class="level">安全等级<span class="low">低</span></span>
										<a href="#" class="raise"><i class="index-icon upicon"></i>提升</a>
									</div>
									<div class="sinfo">
										<div class="w156 f-fl">
											<p><label>可用红包</label>2</p>
											<p><label>未读消息</label>13</p>
										</div>
										<div>
											<p><label>可用加息券</label>1<span>张</span></p>
											<p><label>上次登录</label><span class="time">2017-07-11 14:50:08</span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="amount-box">
								<div class="amount">
									<p>
										可用余额（元）<i class="index-icon sicon see"></i>
										<a href="#" class="f-fr">交易记录&gt;</a>
									</p>
									<p class="num">200,212.86</p>
								</div>
								<div class="btns clearfix">
									<a href="#" class="btn recharge f-fl">充值</a>
									<a href="#" class="btn withdrawal f-fr">提现</a>
								</div>
							</div>
						</div>
						<div class="assets-box mt10 clearfix">
							<div class="item f-pr">
								<p>
									资产总额（元）<i class="index-icon ricon down"></i>
									<i class="index-icon qicon"></i>
									<span class="qtips">资产总额=可用余额+冻结金额+待收总额</span>
								</p>
								<p class="num color">179,358.33</p>
								<ul class="detail f-pa">
									<li><span>待收本金（元）</span>785.47</li>
									<li><span>待收利息（元）</span>53.24</li>
									<li><span>可用余额（元）</span>200,212.86</li>
									<li><span>冻结金额（元）</span>0.00</li>
								</ul>
							</div>
							<div class="item">
								<p>累计投资（元）</p>
								<p class="num">2,598,785.47</p>
							</div>
							<div class="item f-pr">
								<p>
									累计收益（元）<i class="index-icon ricon down"></i>
									<i class="index-icon qicon"></i>
									<span class="qtips">累计收益=已获收益+投标奖励+活动奖励+推荐奖励</span>
								</p>
								<p class="num">785.47</p>
								<ul class="detail f-pa">
									<li><span>已获收益（元）</span>785.47</li>
									<li><span>投标奖励（元）</span>0.00</li>
									<li><span>活动奖励（元）</span>0.00</li>
									<li><span>推荐奖励（元）</span>0.00</li>
								</ul>
							</div>
							<div class="item f-pr">
								<p>
									待收金额（元）<i class="index-icon ricon down"></i>
									<i class="index-icon qicon"></i>
									<span class="qtips">待收金额=待收本金+待收利息</span>
								</p>
								<p class="num">785.47</p>
								<ul class="detail f-pa">
									<li><span>待收本金（元）</span>113.71</li>
									<li><span>待收利息（元）</span>671.76</li>
								</ul>
							</div>
						</div>
						<div class="repayment-box mt10">
							<div class="rhd clearfix">
								<div class="tabs f-fl">
									<a class="cur" data-id="1">回款日历</a>
									<a class="" data-id="2">回款曲线图</a>
								</div>
								<p class="ramount f-fr">
									<span>本月回款共<b>2</b>元</span>
									<span>回款总额：<b class="color">15,307.50</b>元</span>
									<span>待收回款：<b>10,307.50</b>元</span>
									<span>已收回款：<b>5,000.00</b>元</span>
								</p>
							</div>
							<div class="rsbox f-pr">
								<a class="back f-pa">返回当月</a>
								<select class="month f-pa">
									<option value="0">1月</option>
									<option value="1">2月</option>
									<option value="2">3月</option>
									<option value="3">4月</option>
									<option value="4">5月</option>
									<option value="5">6月</option>
									<option value="6">7月</option>
									<option value="7">8月</option>
									<option value="8">9月</option>
									<option value="9">10月</option>
									<option value="10">11月</option>
									<option value="11">12月</option>
								</select>
								<div class="ht">
									<p class="year-box f-pr">
										<a class="prev f-pa"><i class="index-icon aicon prev"></i></a>
										<a class="next f-pa"><i class="index-icon aicon next"></i></a>
										<span class="year">2017</span>
									</p>
								</div>
							</div>
						</div>
						<div class="profit-box mt10">
							<div class="rhd clearfix">
								<div class="tabs f-fl">
									<a class="cur">投资收益统计</a>
								</div>
								<p class="ramount f-fr">
									<span>累计已收收益：<b class="color">1,307.50</b>元</span>
									<span>累计待收收益：<b class="color">959.95</b>元</span>
								</p>
							</div>
							<div class="rsbox f-pr">
								<p class="year-box f-pa">
									<a class="prev f-pa"><i class="index-icon aicon prev"></i></a>
									<a class="next f-pa"><i class="index-icon aicon next"></i></a>
									<span class="year">2017</span>
								</p>
								<p class="title">
									2017年每月投资收益统计
									<span><i class="red"></i>已收收益</span>
									<span><i class="blue"></i>待收收益</span>
								</p>
							</div>
						</div>
						<div class="recommend-box mt10">
							<p class="title">理财推荐</p>
							<ul class="rlist clearfix">
								<li>
									<h3><a href="#">房产周转贷_2017071702</a></h3>
									<p class="aviable">剩余可投<span>900,000.00</span></p>
									<div class="info clearfix">
										<div class="f-fl">
											<p class="rate">12<small>%</small></p>
											<p>预期年化收益</p>
										</div>
										<div class="f-fr">
											<p class="num">2<small>个月</small></p>
											<p>投资期限</p>
										</div>
									</div>
								</li>
								<li>
									<h3><a href="#">房产周转贷_2017071702</a></h3>
									<p class="aviable">剩余可投<span>900,000.00</span></p>
									<div class="info clearfix">
										<div class="f-fl">
											<p class="rate">12<small>%</small></p>
											<p>预期年化收益</p>
										</div>
										<div class="f-fr">
											<p class="num">2<small>个月</small></p>
											<p>投资期限</p>
										</div>
									</div>
								</li>
								<li>
									<h3><a href="#">房产周转贷_2017071702</a></h3>
									<p class="aviable">剩余可投<span>900,000.00</span></p>
									<div class="info clearfix">
										<div class="f-fl">
											<p class="rate">12<small>%</small></p>
											<p>预期年化收益</p>
										</div>
										<div class="f-fr">
											<p class="num">2<small>个月</small></p>
											<p>投资期限</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
	</body>
</html>