<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/account_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/modal.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-account clearfix">
			<div class="content">
				<p class="risk-test">
					<span>您尚未完成出借人风险评测，为了顺利投资，请<a href="#">立即测评！</a></span>
					<i class="index-icon cicon f-fr"></i>
				</p>
				<div class="side f-fl">
					<div class="item">
						<p><i class="side-icon icon-1"></i>我的账户</p>
						<ul>
							<li><a href="#">账户总览</a></li>
							<li class="cur"><a href="#">充值提现</a></li>
							<li><a href="#">投资记录</a></li>
							<li><a href="#">资金流水</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-2"></i>我的奖励</p>
						<ul>
							<li><a href="#">红包奖券</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-3"></i>账号管理</p>
						<ul>
							<li><a href="#">安全认证</a></li>
							<li><a href="#">银行卡</a></li>
							<li><a href="#">我的消息</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-4"></i>推广赚钱</p>
						<ul class="bb-none">
							<li><a href="#">邀请好友</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-recharge">
						<h3 class="title"><a href="#">&lt;&nbsp;&nbsp;充值</a></h3>
						<div class="tips">
							<p class="tit">温馨提示</p>
							<div class="detail">
								<p><b>充值手续费：</b>充值不收取任何手续费，为避免充值失败，请留意支付限额。</p>
								<p><b>普通网银充值手续费：</b>体现将会在审核成功后的下一个工作日到账；遇双休日、国家法定节假日，到账日期顺延。</p>
								<p><b>快捷充值手续费：</b>所有银行按照1.5‰收取。</p>
								<p>充值/提现必须为银行借记卡，不支持存折、信用卡充值。</p>
								<p>充值前请确认您的银行卡限额，如充值成功后未能及时到账，请及时联系客服：136 3281 8831</p>
							</div>
						</div>
						<div class="stabs plr24 clearfix">
							<div class="tabs f-fl">
								<a class="cur mr50" data-id="1">网银充值</a>
								<a data-id="2">快捷充值</a>
							</div>
						</div>
						<div class="recharge plr24" id="recharge1">
							<div class="item">
								<label>账户余额：</label>
								<p class="lamount"><span class="num">20.00</span>元</p>
							</div> 
							<div class="item">
								<label class="lh">充值金额：</label>
								<span class="iptbox f-pr">
									<input type="text" class="amount">
									<span class="unit f-pa">元</span>
								</span>
								<span class="tip">充值金额不得小于10元</span>
							</div>
							<div class="item">
								<label class="lh">选择网银：</label>
								<div class="binfo">
									<ul class="blist clearfix">
										<li class="cur"><img src="../../Content/images/bank/bank1.png"></li>
										<li><img src="../../Content/images/bank/bank2.png"></li>
										<li><img src="../../Content/images/bank/bank3.png"></li>
										<li><img src="../../Content/images/bank/bank4.png"></li>
										<li><img src="../../Content/images/bank/bank5.png"></li>
										<li><img src="../../Content/images/bank/bank6.png"></li>
										<li><img src="../../Content/images/bank/bank7.png"></li>
										<li><img src="../../Content/images/bank/bank8.png"></li>
										<li><img src="../../Content/images/bank/bank9.png"></li>
										<li><img src="../../Content/images/bank/bank10.png"></li>
									</ul>
									<table class="limit-table">
										<thead>
											<tr>
												<th>单笔限额（元）</th>
												<th>每日限额（元）</th>
												<th>需要满足条件</th>
												<th>备注</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>300</td>
												<td>300</td>
												<td>柜面注册存量静态支付密码客户</td>
												<td rowspan="4">如您是柜面注册存量静态支付密码客户，当您所做的网上支付交易达到总支付限额后，您将不能继续网上支付交易。如您仍需进行网上支付交易，请您到中国工商银行营业网点申领电子银行口令卡或个人客户证书(U盾）,当您成为电子银行口令卡客户或证书客户后，您将不再受到支付限额的限制。</td>
											</tr>
											<tr>
												<td>2,000</td>
												<td>5,000</td>
												<td>电子银行口令卡动态支付密码客户—通过手机短信认证</td>
											</tr>
											<tr>
												<td>500</td>
												<td>1,000</td>
												<td>电子银行口令卡动态支付密码客户—无手机短信认证</td>
											</tr>
											<tr>
												<td>无限额</td>
												<td>无限额</td>
												<td>证书客户（U盾客户）</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<a href="#" class="btn">确认充值</a>
						</div>
						<div class="recharge plr24 hide" id="recharge2">
							<div class="item">
								<label>账户余额：</label>
								<p class="lamount"><span class="num">20.00</span>元</p>
							</div> 
							<div class="item">
								<label class="lh">充值金额：</label>
								<span class="iptbox f-pr">
									<input type="text" class="amount">
									<span class="unit f-pa">元</span>
								</span>
								<span class="tip">充值金额不得小于10元</span>
							</div>
							<div class="item">
								<label class="lh">选择网银：</label>
								<div class="binfo">
									<ul class="blist clearfix">
										<li class="cur"><img src="../../Content/images/bank/bank1.png"></li>
										<li><img src="../../Content/images/bank/bank2.png"></li>
										<li><img src="../../Content/images/bank/bank3.png"></li>
										<li><img src="../../Content/images/bank/bank4.png"></li>
										<li><img src="../../Content/images/bank/bank5.png"></li>
										<li><img src="../../Content/images/bank/bank6.png"></li>
										<li><img src="../../Content/images/bank/bank7.png"></li>
										<li><img src="../../Content/images/bank/bank8.png"></li>
										<li><img src="../../Content/images/bank/bank9.png"></li>
										<li><img src="../../Content/images/bank/bank10.png"></li>
									</ul>
									<table class="limit-table">
										<thead>
											<tr>
												<th>单笔限额（元）</th>
												<th>每日限额（元）</th>
												<th>需要满足条件</th>
												<th>备注</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>300</td>
												<td>300</td>
												<td>柜面注册存量静态支付密码客户</td>
												<td rowspan="4">如您是柜面注册存量静态支付密码客户，当您所做的网上支付交易达到总支付限额后，您将不能继续网上支付交易。如您仍需进行网上支付交易，请您到中国工商银行营业网点申领电子银行口令卡或个人客户证书(U盾）,当您成为电子银行口令卡客户或证书客户后，您将不再受到支付限额的限制。</td>
											</tr>
											<tr>
												<td>2,000</td>
												<td>5,000</td>
												<td>电子银行口令卡动态支付密码客户—通过手机短信认证</td>
											</tr>
											<tr>
												<td>500</td>
												<td>1,000</td>
												<td>电子银行口令卡动态支付密码客户—无手机短信认证</td>
											</tr>
											<tr>
												<td>无限额</td>
												<td>无限额</td>
												<td>证书客户（U盾客户）</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<a href="#" class="btn">确认充值</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
		<script type="text/javascript" src="../../Scripts/modal.js"></script>

		<script type="text/javascript">
			tab('.m-recharge .tabs a', '#recharge', 2, 'cur');

			$('.m-recharge, .list').on('click', 'li', function(){
				if(!$(this).hasClass('cur')){
					$(this).addClass('cur').siblings().removeClass('cur');
				}
			});

			// 选择银行提示
			$('.recharge .btn').on('click', function(){
				new AlertModal({
					content: '<p class="ta">请选择充值银行！</p>',
					title: '<i class="warning f-fl"></i>温馨提示',
					contentNodeCn: 'rtmodal',
					success: function(){}
				}).init();
			});

			// 充值问题反馈
			new AlertModal({
				content: '<p class="lg">请您在新打开的汇付充值页面完成付款</p><p class="sm">付款完成前，请不要关闭此窗口。</p><p class="sm">如付款受阻，请拨打客服热线： 136 3281 8831</p>',
				title: '<i class="warning f-fl"></i>充值遇到问题？',
				contentNodeCn: 'rtmodal',
				confirm: '已完成充值',
				success: function(){}
			}).init();
		</script>
	</body>
</html>