<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/account_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/modal.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-account clearfix">
			<div class="content">
				<p class="risk-test">
					<span>您尚未完成出借人风险评测，为了顺利投资，请<a href="#">立即测评！</a></span>
					<i class="index-icon cicon f-fr"></i>
				</p>
				<div class="side f-fl">
					<div class="item">
						<p><i class="side-icon icon-1"></i>我的账户</p>
						<ul>
							<li><a href="#">账户总览</a></li>
							<li><a href="#">充值提现</a></li>
							<li><a href="#">投资记录</a></li>
							<li><a href="#">资金流水</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-2"></i>我的奖励</p>
						<ul>
							<li><a href="#">红包奖券</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-3"></i>账号管理</p>
						<ul>
							<li class="cur"><a href="#">安全认证</a></li>
							<li><a href="#">银行卡</a></li>
							<li><a href="#">我的消息</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-4"></i>推广赚钱</p>
						<ul class="bb-none">
							<li><a href="#">邀请好友</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-security">
						<h3 class="title">安全认证</h3>
						<div class="lbox">
							<p class="ptb">
								<label>您的账户安全级别：</label>
								<span class="level low">
									低
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 33.3%"></span>
									</span>
								</span>
								<span>建议您启动全部安全设置，以保障账户和资金安全</span>
							</p>
							<p class="pb20">
								<label>上次登录：</label>
								<span>移动端2017-07-13 11:19</span>
							</p>
						</div>
						<ul class="slist">
							<li>
								<span class="yorn cur"><i class="sicon"></i>已验证</span>
								<span class="tit">手机认证</span>
								<span class="tip">136******831</span>
							</li>
							<li>
								<span class="yorn"><i class="sicon"></i>未认证</span>
								<span class="tit">实名认证</span>
								<span class="tip">完成实名认证，账户更安全、理财更放心</span>
								<a class="auth f-fr">立即认证</a>
							</li>
							<li>
								<span class="yorn cur"><i class="sicon"></i>已设置</span>
								<span class="tit">交易密码</span>
								<span class="tip">保障资金安全，修改银行卡、取现、充值等资金相关操作时使用</span>
								<a class="tpwd f-fr">设置</a>
							</li>
							<li>
								<span class="yorn cur"><i class="sicon"></i>已设置</span>
								<span class="tit">登录密码</span>
								<span class="tip mt16">安全性高的密码可以使账户更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码</span>
								<a class="lpwd f-fr">修改</a>
							</li>
							<li>
								<span class="yorn"><i class="sicon"></i>未认证</span>
								<span class="tit">绑定银行卡</span>
								<span class="tip">您尚未设置提现银行卡，无法进行充值、提现等操作</span>
								<a class="bankcard f-fr">立即绑定</a>
							</li>
							<li>
								<span class="yorn"><i class="sicon"></i>未认证</span>
								<span class="tit">风险承受能力</span>
								<span class="tip">风险承受能力评估（今年您还可以评估3次）</span>
								<a class="risk f-fr">立即认证</a>
							</li>
							<li>
								<span class="yorn"><i class="sicon"></i>未认证</span>
								<span class="tit">邮箱认证</span>
								<span class="tip">您尚未绑定邮箱，绑定邮箱可增加您的账户安全</span>
								<a class="email f-fr">立即认证</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<!-- 登录密码 -->
		<div class="authmodal hide" id="pwdmodal">
			<p>
				<label>当前密码：</label>
				<input type="text" placeholder="请输入当前密码">
			</p>
			<p>
				<label>新密码：</label>
				<input type="text" placeholder="请输入新登录密码">
			</p>
			<p>
				<label>确认密码：</label>
				<input type="text" placeholder="再次确认新登录密码">
			</p>
		</div>

		<!-- 交易密码 -->
		<div class="authmodal hide" id="tpwdmodal">
			<p>
				<label>手机号码：</label>
				<span class="mobile">136***8831</span>
			</p>
			<p class="lh50">
				<label>验证码：</label>
				<input type="text" class="sm">
				<a class="code f-fr">获取验证码</a>
			</p>
			<p class="lh50">
				<label>支付密码：</label>
				<input type="text" placeholder="请输入支付密码">
			</p>
			<p class="lh50">
				<label>确认密码：</label>
				<input type="text" placeholder="再次确认密码">
			</p>
		</div>

		<!-- 添加银行卡 -->
		<div class="abmodal hide" id="abmodal">
			<ul class="ablist">
				<li class="f-pr">
					<label>银行卡号：</label>
					<input type="text" class="ipt" placeholder="请输入本人银行卡号">
					<span class="warning f-pa">请输入银行卡号！</span>
				</li>
				<li>
					<label>选择银行：</label>
					<select class="sel ml10">
						<option value="0">请选择</option>
						<option value="1">中国建设银行</option>
						<option value="2">农业银行</option>
						<option value="3">招商银行</option>
					</select>
				</li>
				<li>
					<label>开户支行：</label>
					<input type="text" class="ipt" placeholder="请输入您的开户支行">
				</li>
				<li>
					<label>所在城市：</label>
					<select class="sel sm ml10">
						<option value="0">请选择</option>
						<option value="1">广东</option>
					</select>
					<select class="sel sm f-fr">
						<option value="0">请选择</option>
						<option value="1">深圳</option>
					</select>
				</li>
				<li>
					<label>手机号码：</label>
					<span class="mobile">136***8831</span>
				</li>
				<li>
					<label>验证码：</label>
					<input type="text" class="ipt sm">
					<!-- 不可点击 .disable -->
					<a class="code f-fr">获取验证码</a>
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
		<script type="text/javascript" src="../../Scripts/modal.js"></script>

		<script type="text/javascript">
			$('.email').on('click', function(){
				new AlertModal({
					content: '<p><label>电子邮箱：</label><input type="text" placeholder="请输入您的邮箱"></p>',
					title: '邮箱认证',
					contentNodeCn: 'authmodal',
					success: function(){}
				}).init();
			});

			$('.lpwd').on('click', function(){
				new AlertModal({
					content: $('#pwdmodal').html(),
					title: '登录密码',
					contentNodeCn: 'authmodal',
					success: function(){}
				}).init();
			});

			$('.tpwd').on('click', function(){
				new AlertModal({
					content: $('#tpwdmodal').html(),
					title: '交易密码',
					contentNodeCn: 'authmodal',
					success: function(){}
				}).init();
			});

			$('.auth').on('click', function(){
				new AlertModal({
					content: '<p><label>真实姓名：</label><input type="text" placeholder="请输入真实姓名"></p><p><label>身份证号：</label><input type="text" placeholder="请输入身份证号"></p>',
					title: '实名认证',
					contentNodeCn: 'authmodal',
					success: function(){}
				}).init();
			});

			$('.bankcard').on('click', function(){
				new AlertModal({
					content: $('#abmodal').html(),
					title: '添加银行卡',
					contentNodeCn: 'abmodal',
					success: function(){}
				}).init();
			});
		</script>
	</body>
</html>