<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/account_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-account clearfix">
			<div class="content">
				<p class="risk-test">
					<span>您尚未完成出借人风险评测，为了顺利投资，请<a href="#">立即测评！</a></span>
					<i class="index-icon cicon f-fr"></i>
				</p>
				<div class="side f-fl">
					<div class="item">
						<p><i class="side-icon icon-1"></i>我的账户</p>
						<ul>
							<li><a href="#">账户总览</a></li>
							<li class="cur"><a href="#">充值提现</a></li>
							<li><a href="#">投资记录</a></li>
							<li><a href="#">资金流水</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-2"></i>我的奖励</p>
						<ul>
							<li><a href="#">红包奖券</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-3"></i>账号管理</p>
						<ul>
							<li><a href="#">安全认证</a></li>
							<li><a href="#">银行卡</a></li>
							<li><a href="#">我的消息</a></li>
						</ul>
					</div>
					<div class="item">
						<p><i class="side-icon icon-4"></i>推广赚钱</p>
						<ul class="bb-none">
							<li><a href="#">邀请好友</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-wallet">
						<div class="hd">
							<h3 class="title">充值提现</h3>
							<div class="ainfo plr24 clearfix">
								<div class="item w306 f-fl">
									<p>可用余额（元）<!-- <i class="index-icon sicon see"></i> --></p>
									<p class="num red">200,212.86</p>
								</div>
								<div class="item w260 f-fl">
									<p>提现在途（元）</p>
									<p class="num">5,186.73</p>
								</div>
								<div class="item f-fl">
									<a href="#" class="btn recharge">充值</a>
									<a href="#" class="btn withdrawal">提现</a>
								</div>
							</div>
						</div>
						<div class="bd mt10">
							<div class="stabs plr24 clearfix">
								<div class="tabs f-fl">
									<a class="cur mr50" data-id="1">充值记录</a>
									<a data-id="2">提现记录</a>
								</div>
								<div class="sbox f-fr">
									<a class="cur">最近7天</a>
									<a>1个月</a>
									<a>2个月</a>
									<a>3个月</a>
									<span class="status">
										审核状态：
										<select>
											<option value="0">全部</option>
											<option value="1">处理中</option>
											<option value="2">成功</option>
										</select>
									</span>
								</div>
							</div>
							<div class="table-box plr24">
								<!-- 显示16条数据 -->
								<div id="table1">
									<table>
										<thead>
											<tr>
												<th>序号</th>
												<th>提交时间</th>
												<th>充值金额（元）</th>
												<th>审核状态</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>处理中</td>
											</tr>
											<tr>
												<td>2</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>处理中</td>
											</tr>
											<tr>
												<td>3</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>成功</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="hide" id="table2">
									<table>
										<thead>
											<tr>
												<th>序号</th>
												<th>提交时间</th>
												<th>提现金额（元）</th>
												<th>审核状态</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>处理中</td>
											</tr>
											<tr>
												<td>2</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>处理中</td>
											</tr>
											<tr>
												<td>3</td>
												<td>2017-07-17 13:54</td>
												<td>80,000</td>
												<td>成功</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- 分页 -->
							<div class="pages"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
	</body>
</html>