<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/info_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-info clearfix">
			<div class="banner"></div>
			<div class="content">
				<div class="side f-fl">
					<div class="item">
						<p><i class="iicon"></i>信息披露</p>
						<ul>
							<li class="cur"><a href="#">基本信息</a></li>
							<li><a href="#">管理团队</a></li>
							<li><a href="#">重大事项</a></li>
							<li><a href="#">运营数据</a></li>
							<li><a href="#">运营报告</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-basic">
						<h3 class="title">基本信息</h3>
						<div class="table-box">
							<table>
								<tbody>
									<tr>
										<td>全程及简称</td>
										<td>深圳引爆互联网金融服务有限公司（引爆互联网科技）</td>
									</tr>
									<tr>
										<td>注册/实缴资本</td>
										<td>（人民币）10000.0000万元</td>
									</tr>
									<tr>
										<td>统一社会信用代码</td>
										<td>91440300358236093N</td>
									</tr>
									<tr>
										<td>注册地址</td>
										<td>深圳市前海深港合作区前湾一路1号A栋201室（入驻深圳前海商务秘书有限公司）</td>
									</tr>
									<tr>
										<td>经营地址</td>
										<td>深圳市福田区金田路4036号荣超大厦9楼</td>
									</tr>
									<tr>
										<td>成立时间</td>
										<td>2015年9月24日</td>
									</tr>
									<tr>
										<td>经营期限</td>
										<td></td>
									</tr>
									<tr>
										<td>经营状态</td>
										<td>开业</td>
									</tr>
									<tr>
										<td>法定代表人</td>
										<td>王志荣</td>
									</tr>
									<tr>
										<td>经营范围</td>
										<td>金融信息咨询，提供金融中介服务，接受金融机构委托从事金融外包服务（根据法律、行政法规、国务院决定等规定需要审批的，依法取得相关审批文件后方可经营）；资产管理；投资管理；受托管理股权投资基金；投资咨询；经济信息咨询；投资兴办实业（具体项目另行申报）；电子产品、电商软件、电子支付系统、支付结算系统和清算系统的技术开发。（以上各项涉及法律、行政法规、国务院决定禁止的项目除外，限制的项目须取得许可后方可经营）。</td>
									</tr>
									<tr>
										<td>联系方式</td>
										<td>
											<p>客服热线： 4008-666-6666</p>
											<p>客服邮箱： xxx@51weidai.com</p>
										</td>
									</tr>
									<tr>
										<td>网站或平台地址</td>
										<td>www.51weidai.com</td>
									</tr>
									<tr>
										<td>平台APP名称</td>
										<td>无忧微贷</td>
									</tr>
									<tr>
										<td>平台名称</td>
										<td>无忧微贷</td>
									</tr>
									<tr>
										<td>注册协议模板</td>
										<td><a href="javascript:;">无忧微贷用户注册协议</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="item">
							<p class="tit">股权结构变更（截止2017年5月）</p>
							<div class="img img1"><img src="../../Content/images/info/info-1.png"></div>
						</div>
						<div class="item">
							<p class="tit">组织结构</p>
							<div class="img img2"><img src="../../Content/images/info/info-2.png"></div>
						</div>
						<div class="item">
							<p class="tit">实际控制人与持股5%以上的股东名单</p>
							<div class="table-box">
								<table>
									<tbody>
										<tr>
											<td>实际控制人</td>
											<td>王志荣</td>
										</tr>
										<tr>
											<td>持股5%以上的股东</td>
											<td>
												<p>深圳市前海金橙金融信息服务有限公司</p>
												<p>前海金投天诚（深圳）投资管理企业（有限合伙）</p>
												<p>深圳市中装建设集团股份有限公司</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="item">
							<p class="tit">董事、监事、高级管理人员名单</p>
							<div class="table-box">
								<table>
									<tbody>
										<tr>
											<td>执行董事/总经理</td>
											<td>王志荣</td>
										</tr>
										<tr>
											<td>监事</td>
											<td>林莉</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="item">
							<p class="tit">员工情况</p>
							<div class="chart-box bb clearfix">
								<p>截至到2017年8月31，公司主要由有学识、激情和创造力均处最佳状态的80、90后为主力，推动这无忧微贷的快速成长。</p>
								<div class="chart f-fl" id="chart1"></div>
								<div class="chart f-fr" id="chart2"></div>
							</div>
							<div class="chart-box clearfix">
								<p>其中技术人员平均年龄27岁，80%以上的团队成员永拥有本科或本科以上学历。</p>
								<div class="chart f-fl" id="chart3"></div>
								<div class="chart f-fr" id="chart4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
		<script type="text/javascript" src="../../Scripts/echarts.common.min.js"></script>
		<script type="text/javascript" src="../../Scripts/basic_data.js"></script>
	</body>
</html>