<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/info_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-info clearfix">
			<div class="banner"></div>
			<div class="content">
				<div class="side f-fl">
					<div class="item">
						<p><i class="iicon"></i>信息披露</p>
						<ul>
							<li><a href="#">基本信息</a></li>
							<li><a href="#">管理团队</a></li>
							<li><a href="#">重大事项</a></li>
							<li class="cur"><a href="#">运营数据</a></li>
							<li><a href="#">运营报告</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-data">
						<div class="item mb10">
							<h3 class="title">运营数据<span>截至日期：2017-08-14</span></h3>
							<ul class="nbox clearfix">
								<li>
									<p class="num">9192<span>万</span>3500<span>元</span></p>
									<p class="sm">累计交易总额</p>
								</li>
								<li>
									<p class="num">4425<span>笔</span></p>
									<p class="sm">累计交易笔数</p>
								</li>
								<li>
									<p class="num">89<span>万</span>8640<span>元</span></p>
									<p class="sm">投资人累计收益</p>
								</li>
							</ul>
							<div class="cbox clearfix">
								<div class="cbox1 f-fl">
									<p>月度交易总额（万元）</p>
									<div class="chart" id="chart1"></div>
									<p class="sm">2017年</p>
								</div>
								<div class="cbox1 f-fr">
									<p>月度交易笔数（千笔）</p>
									<div class="chart" id="chart2"></div>
									<p class="sm">2017年</p>
								</div>
							</div>
						</div>
						<div class="item mb10">
							<h3 class="title">投资人信息<span>截至日期：2017-08-14</span></h3>
							<ul class="nbox clearfix">
								<li>
									<p class="num">7248<span>人</span></p>
									<p class="sm">投资人总数</p>
								</li>
								<li>
									<p class="num">12368<span>人</span></p>
									<p class="sm">累计投资人数量</p>
								</li>
								<li>
									<p class="num">9285<span>元</span></p>
									<p class="sm">人均累计投资金额</p>
								</li>
							</ul>
							<div class="cbox pb clearfix">
								<div class="cbox1 f-fl">
									<p>最大单户投资余额占比：</p>
									<div class="chart" id="chart3"></div>
								</div>
								<div class="cbox1 f-fr">
									<p>最大十户投资余额占比：</p>
									<div class="chart" id="chart4"></div>
								</div>
							</div>
							<div class="cbox pt pb clearfix">
								<div class="cbox1 f-fl">
									<p>投资人基本情况</p>
									<div class="chart" id="chart5"></div>
								</div>
								<div class="cbox1 f-fr">
									<div class="chart mt" id="chart6"></div>
								</div>
							</div>
							<div class="cbox pt pb30 clearfix">
								<div class="cbox2 f-fl">
									<p>投资人地域分布</p>
									<div class="chart" id="chart7"></div>
								</div>
								<div class="cbox3 f-fr">
									<div class="chart" id="chart8"></div>
								</div>
							</div>
						</div>
						<div class="item mb10">	
							<h3 class="title">融资人信息<span>截至日期：2017-08-14</span></h3>
							<ul class="nbox mb0 clearfix">
								<li>
									<p class="num">491<span>人</span></p>
									<p class="sm">融资人总数</p>
								</li>
								<li>
									<p class="num">1391<span>人</span></p>
									<p class="sm">累计融资人数量</p>
								</li>
								<li>
									<p class="num">3097<span>元</span></p>
									<p class="sm">人均累计融资金额</p>
								</li>
							</ul>
							<ul class="nbox1 mb0 clearfix">
								<li class="f-fl">前十大融资人待还金额占比：0.3841%</li>
								<li class="f-fr">最大单户融资人待还金额占比：0.9715%</li>
							</ul>
							<ul class="nbox1 clearfix">
								<li class="f-fl">金额逾期率：0.85%<span>（更新日期：2017-08-10）</span></li>
								<li class="f-fr">项目逾期率：2.87%<span>（更新日期：2017-08-10）</span></li>
							</ul>
							<!-- <div class="cbox pb clearfix">
								<div class="cbox1 f-fl">
									<p>最大单户融资余额占比：</p>
									<div class="chart" id="chart9"></div>
								</div>
								<div class="cbox1 f-fr">
									<p>最大十户融资余额占比：</p>
									<div class="chart" id="chart10"></div>
								</div>
							</div> -->
							<div class="cbox pt pb clearfix">
								<div class="cbox1 f-fl">
									<p>融资人基本情况</p>
									<div class="chart" id="chart11"></div>
								</div>
								<div class="cbox1 f-fr">
									<div class="chart mt" id="chart12"></div>
								</div>
							</div>
							<div class="cbox pt pb30 clearfix">
								<div class="cbox2 f-fl">
									<p>融资人地域分布</p>
									<div class="chart" id="chart13"></div>
								</div>
								<div class="cbox3 f-fr">
									<div class="chart" id="chart14"></div>
								</div>
							</div>
						</div>
						<div class="item">
							<h3 class="title">平台待偿、逾期、坏账数据<span>截至日期：2017-08-14</span></h3>
							<ul class="nbox mb0 clearfix">
								<li>
									<p class="num">0<span>元</span></p>
									<p class="sm">待偿金额</p>
								</li>
								<li>
									<p class="num">5<span>笔</span></p>
									<p class="sm">逾期笔数</p>
								</li>
								<li>
									<p class="num">36<span>笔</span></p>
									<p class="sm">逾期项目总数</p>
								</li>
							</ul>
							<ul class="nbox1 mb0 clearfix">
								<li class="f-fl">逾期90天以上金额：35710元</li>
								<li class="f-fr">逾期90天以上笔数：1笔</li>
							</ul>
							<ul class="nbox1 clearfix">
								<li class="f-fl">项目逾期率：0.0001%</li>
								<li class="f-fr">金额逾期率：0.0004%</li>
							</ul>
							<div class="cbox">
								<div class="cbox4">
									<p>逾期坏账金额（万元）</p>
									<div class="chart" id="chart15"></div>
									<p class="sm">2017年</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
		<script type="text/javascript" src="../../Scripts/echarts.common.min.js"></script>
		<script type="text/javascript" src="../../Scripts/china.js"></script>
		<script type="text/javascript" src="../../Scripts/operational_data.js"></script>
	</body>
</html>