<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/info_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 固定顶部 -->
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- main content -->
		<div class="m-info clearfix">
			<div class="banner"></div>
			<div class="content">
				<div class="side f-fl">
					<div class="item">
						<p><i class="iicon"></i>信息披露</p>
						<ul>
							<li><a href="#">基本信息</a></li>
							<li class="cur"><a href="#">管理团队</a></li>
							<li><a href="#">重大事项</a></li>
							<li><a href="#">运营数据</a></li>
							<li><a href="#">运营报告</a></li>
						</ul>
					</div>
				</div>
				<div class="main f-fr">
					<div class="m-team">
						<h3 class="title">管理团队</h3>
						<ul class="tlist">
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-1.png"></p>
								<div class="info">
									<p class="name">王志荣</p>
									<p class="job">创始人、董事长</p>
									<p class="detail">男，1981年生，籍贯广东深圳，从业多年，有丰富的汽车、小额房产抵押融资的网络借贷信息中介经验，熟悉公司各业务线条，主管公司发展战略并统筹公司管理。2015年9月至今 担任引爆互联网金融服务有限公司董事长、总经理。</p>
								</div>
							</li>
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-2.png"></p>
								<div class="info">
									<p class="name">林莉</p>
									<p class="job">运营总监</p>
									<p class="detail">女，1992年生，籍贯广东深圳，互联网金融是在发展中规范，在规范中发展。相信“无忧微贷”会成为行业的中流砥柱，用互联网提高效率，用金融服务实体，帮助更多客户获得更好的金融服务！2015年9月至今担任引爆互联网金融服务有限公司运营总监。</p>
								</div>
							</li>
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-3.png"></p>
								<div class="info">
									<p class="name">万勇刚</p>
									<p class="job">首席风控官</p>
									<p class="detail">男，1980年生，籍贯黑龙江，通过建立覆盖项目前中后期的“穿透式”风控体系，把投资风险降到最低，最大限度保障投资者利益。2016年9月至今，担任引爆互联网金融服务有限公司风控总监。</p>
								</div>
							</li>
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-4.png"></p>
								<div class="info">
									<p class="name">周文斌</p>
									<p class="job">财务总监</p>
									<p class="detail">男，1984年生，籍贯广东汕头，拥有5年的大企业财务管理工作经验。有较强的成本管理、风险控制和财务分析能力。编制公司财务计划、成本计划、降低成本、增收节支、提高效益。建立健全公司内部核算的组织、指导和数据管理体系，以及核算和财务管理的规章制度。擅长负责公司整体运营资金的筹集、运作及管理工作，及时、准确地核算和报告公司的财务状态和经营状况。2015年9月至今，担任引爆互联网金融服务有限公司财务总监。</p>
								</div>
							</li>
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-5.png"></p>
								<div class="info">
									<p class="name">丁颖</p>
									<p class="job">人力资源总监</p>
									<p class="detail">女，1986年生，陕西铜川，熟悉公司内部管理、制度流程建设及计划跟进；奉行目标为导向的工作方式，注重追求工作结果；成熟稳重，工作严谨、务实、有效；懂得公司内部协调技巧，成本意识强，能合理控制使用行政人事预算；心智成熟，具有高度责任感和事业心，并对企业战略规划、制度建设和企业文化建设具备深刻的认知。2017年3月至今，担任引爆互联网金融服务有限公司人力资源总监。</p>
								</div>
							</li>
							<li class="clearfix">
								<p class="img f-fl"><img src="../../Content/images/info/team-6.png"></p>
								<div class="info">
									<p class="name">陈映蓓</p>
									<p class="job">客户主管</p>
									<p class="detail">女，1991年生，籍贯广东深圳，曾先后就职于百度、中国移动、微软中国等国内外知名企业并且担任重要管理岗位，擅长客户服务体系搭建，内部运营流程优化和客户体验管理。对企业经营管理、服务管理有丰富的理论知识及实操经验。2016年12月至今，担任引爆互联网金融服务有限公司客户主管。</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end main content -->

		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
	</body>
</html>