<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/index_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="m-banner f-pr">
			<div class="flexslider">
				<ul class="slides">
					<li style="background: url(../../Content/images/home/banner.png) center;"><a href="#"></a></li>
					<li style="background: url(../../Content/images/home/banner.png) center;"><a href="#"></a></li>
				</ul>
			</div> 
			<div class="content f-pa">
				<!-- <div class="login-box f-pa">
					<h3>预期最高年化收益</h3>
					<p class="rate">14.4<span>%</span></p>
					<a href="javascript:;" class="btn">注册领红包</a>
					<p class="tips">已有账号？<a href="#">立即登录</a></p>
				</div> -->
				<!-- 登录后状态 -->
				<div class="login-box f-pa">
					<p class="welcome">您好，136***381<span class="f-fr">签到赚积分</span></p>
					<ul class="info">
						<li>
							<!-- icon不可见 .unsee -->
							<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
							<p class="num"><span>4,550,345.86</span><small class="f-fr">去充值&gt;</small></p>
						</li>
						<li>
							<p>昨日收益（元）</p>
							<p class="num"><span>359.65</span></p>
						</li>
					</ul>
					<a href="javascript:;" class="btn">进入我的账户</a>
				</div>
			</div>
		</div>
		<div class="m-platform-info">
			<div class="content">
				<ul>
					<li>
						<p>为用户赚取利益</p>
						<p class="num">6,090.00<span>元</span></p>
					</li>
					<li>
						<p>累计成交</p>
						<p class="num">1,290,000.00<span>元</span></p>
					</li>
					<li>
						<p>注册人数</p>
						<p class="num">204<span>人</span></p>
					</li>
					<li>
						<p>安全运营时间</p>
						<p class="num">28<span>天</span>21<span>时</span>13<span>分</span></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-feature">
			<div class="content">
				<ul>
					<li>
						<i class="icon icon-1 f-fl"></i>
						<div class="info">
							<p class="large">合规运营</p>
							<p>小额分散信息透明</p>
							<p>真诚稳健规范运营</p>
						</div>
					</li>
					<li>
						<i class="icon icon-2 f-fl"></i>
						<div class="info">
							<p class="large">资金安全</p>
							<p>担保机构本息担保</p>
							<p>独立第三方资金存管</p>
						</div>
					</li>
					<li>
						<i class="icon icon-3 f-fl"></i>
						<div class="info">
							<p class="large">风控安全</p>
							<p>大数据风控甄别风险</p>
							<p>实地尽调保障信息真实</p>
						</div>
					</li>
					<li>
						<i class="icon icon-4 f-fl"></i>
						<div class="info">
							<p class="large">系统安全</p>
							<p>数据传送加密</p>
							<p>银行级的网站技术保障</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-hot-recommend mt30">
			<div class="content clearfix">
				<div class="left f-fl f-pr">
					<h3>热门推荐</h3>
					<p>精选平台热门标的</p>
					<p>实现收益最大化</p>
					<a href="#" class="more f-pa">查看更多</a>
				</div>
				<div class="right">
					<ul class="hot-recommend-list">
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="rate f-pr">
								<p class="num">11<span>+3.4</span><small>%</small></p>
								<p>预期年化收益</p>
								<span class="tips f-pa">疯狂加息</span>
							</div>
							<div class="info clearfix">
								<p class="f-fl">
									<span class="num">120<small>元</small></span>
									<span>预期万元收益</span>
								</p>
								<p class="f-fr">
									<span class="num">30<small>天</small></span>
									<span>投资期限</span>
								</p>
							</div>
							<div class="btn-box f-pr">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 78%;"></span>
									</span>
									<span class="percent f-fr">78%</span>
								</p>
								<a href="#" class="btn f-pa">立即抢购</a>
							</div>
						</li>
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="rate f-pr">
								<p class="num">11<small>%</small></p>
								<p>预期年化收益</p>
							</div>
							<div class="info clearfix">
								<p class="f-fl">
									<span class="num">120<small>元</small></span>
									<span>预期万元收益</span>
								</p>
								<p class="f-fr">
									<span class="num">30<small>天</small></span>
									<span>投资期限</span>
								</p>
							</div>
							<div class="btn-box f-pr">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 78%;"></span>
									</span>
									<span class="percent f-fr">78%</span>
								</p>
								<a href="#" class="btn f-pa">立即抢购</a>
							</div>
						</li>
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="rate f-pr">
								<p class="num">14<small>%</small></p>
								<p>预期年化收益</p>
							</div>
							<div class="info clearfix">
								<p class="f-fl">
									<span class="num">120<small>元</small></span>
									<span>预期万元收益</span>
								</p>
								<p class="f-fr">
									<span class="num">30<small>天</small></span>
									<span>投资期限</span>
								</p>
							</div>
							<div class="btn-box f-pr">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 78%;"></span>
									</span>
									<span class="percent f-fr">78%</span>
								</p>
								<a href="#" class="btn f-pa">立即抢购</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="m-invest mt30">
			<div class="content clearfix">
				<div class="left f-fl f-pr">
					<h3>投资专区</h3>
					<p>优质标的，任你自由选择！</p>
					<a href="#" class="more f-pa">查看更多</a>
				</div>
				<div class="right">
					<ul class="invest-list">
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="info">
								<div class="item">
									<p class="num large">12<span>%</span></p>
									<p>预期年化收益</p>
								</div>
								<div class="item">
									<p class="num">2<span>个月</span></p>
									<p>投资期限</p>
								</div>
								<div class="item">
									<p class="num">20<span>万</span></p>
									<p>融资金额</p>
								</div>
								<div class="item">
									<p class="progress-box">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<p>还款方式：一次性还本付息</p>
								</div>
								<div class="item">
									<p class="btn-box">
										<a href="#" class="btn">立即抢购</a>
									</p>
									<p>剩余金额：64000</p>
								</div>
							</div>
						</li>
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="info">
								<div class="item">
									<p class="num large">12<span>%</span></p>
									<p>预期年化收益</p>
								</div>
								<div class="item">
									<p class="num">2<span>个月</span></p>
									<p>投资期限</p>
								</div>
								<div class="item">
									<p class="num">20<span>万</span></p>
									<p>融资金额</p>
								</div>
								<div class="item">
									<p class="progress-box">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<p>还款方式：一次性还本付息</p>
								</div>
								<div class="item">
									<p class="btn-box">
										<a href="#" class="btn">立即抢购</a>
									</p>
									<p>剩余金额：64000</p>
								</div>
							</div>
						</li>
						<li class="hover">
							<h3 class="name"><a href="#">房产周转_2017071702</a></h3>
							<div class="info">
								<div class="item">
									<p class="num large">12<span>%</span></p>
									<p>预期年化收益</p>
								</div>
								<div class="item">
									<p class="num">2<span>个月</span></p>
									<p>投资期限</p>
								</div>
								<div class="item">
									<p class="num">20<span>万</span></p>
									<p>融资金额</p>
								</div>
								<div class="item">
									<p class="progress-box">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<p>还款方式：一次性还本付息</p>
								</div>
								<div class="item">
									<p class="btn-box">
										<a href="#" class="btn">立即抢购</a>
									</p>
									<p>剩余金额：64000</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="m-others mt30">
			<div class="content">
				<div class="m-ranking f-fl">
					<h3>投资实力榜</h3>
					<ul class="ranking-list">
						<li class="clearfix">
							<span>排名</span>
							<span>用户</span>
							<span>累计投资金额</span>
						</li>
						<li class="clearfix">
							<span><i class="first">1</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
						<li class="clearfix">
							<span><i class="second">2</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
						<li class="clearfix">
							<span><i class="third">3</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
						<li class="clearfix">
							<span><i>4</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
						<li class="clearfix">
							<span><i>5</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
						<li class="clearfix">
							<span><i>6</i></span>
							<span>136***861</span>
							<span>￥42,100.00</span>
						</li>
					</ul>
				</div>
				<div class="m-info">
					<div class="m-notice f-fl">
						<h3>平台公告<a href="#" class="f-fr">更多&gt;</a></h3>
						<ul class="notice-list">
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
							<li>
								<a href="#">关于银生宝系统维护...</a>
								<span class="f-fr">07-02</span>
							</li>
						</ul>
					</div>
					<div class="m-risk">
						<h3>风险教育<a href="#" class="f-fr">更多&gt;</a></h3>
						<ul class="risk-list">
							<li>
								<p class="img"><img src="../../Content/images/home/risk.png"></p>
								<div class="info">
									<p class="title"><a href="#">正确认识与规范发展互联网金融</a></p>
									<p>互联网金融在国内风生水起、备受追捧。然而随着互联网金融潜在风险的逐步暴...</p>
								</div>
							</li>
							<li>
								<p class="img"><img src="../../Content/images/home/risk.png"></p>
								<div class="info">
									<p class="title"><a href="#">正确认识与规范发展互联网金融</a></p>
									<p>互联网金融在国内风生水起、备受追捧。然而随着互联网金融潜在风险的逐步暴...</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="m-friend mt30">
			<div class="content">
				<div class="m-partner-friendlink">
					<p class="title">
						<a data-id="1" class="cur">合作伙伴</a>
						<a data-id="2">友情链接</a>
					</p>
					<ul class="partner" id="list1">
						<li><a href="#"><img src="../../Content/images/home/partner-1.png"></a></li>
						<li><a href="#"><img src="../../Content/images/home/partner-2.png"></a></li>
						<li><a href="#"><img src="../../Content/images/home/partner-1.png"></a></li>
						<li><a href="#"><img src="../../Content/images/home/partner-2.png"></a></li>
						<li><a href="#"><img src="../../Content/images/home/partner-1.png"></a></li>
						<li><a href="#"><img src="../../Content/images/home/partner-2.png"></a></li>
					</ul>
					<ul class="friend-link hide" id="list2">
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷之家</a></li>
						<li><a href="#">网贷天下</a></li>
						<li><a href="#">网贷天眼</a></li>
						<li><a href="#">网贷天眼</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>

		<script type="text/javascript">
			$(function(){
				$('.flexslider').flexslider({    
	                pauseOnAction: false,
	                pauseOnHover: true  
	            });
			});
		</script>
	</body>
</html>