<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/credit_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- main -->
		<div class="m-credit">
			<div class="banner"></div>
			<div class="m-select-tab">
				<div class="content">
					<ul>
						<li>
							<span>项目状态：</span>
							<a href="#" class="cur">全部</a>
							<a href="#">正在投标</a>
							<a href="#">投标结束</a>
							<a href="#">还款中</a>
							<a href="#">还款完成</a>
						</li>
						<li>
							<span>项目期限：</span>
							<a href="#" class="cur">全部</a>
							<a href="#">0-3个月</a>
							<a href="#">3-6个月</a>
							<a href="#">6-9个月</a>
							<a href="#">9-12个月</a>
							<a href="#">12-15个月</a>
							<a href="#">15个月以上</a>
						</li>
						<li>
							<span>项目收益：</span>
							<a href="#" class="cur">全部</a>
							<a href="#">9%以下</a>
							<a href="#">9%-10%</a>
							<a href="#">10%-11%</a>
							<a href="#">11%-12%</a>
							<a href="#">12%以上</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="credit-list mt20">
				<div class="content">
					<div class="credit fadein">
						<h3>
							<i class="tag">约</i>
							<a href="#">房产周转_2017071702</a>
							<span class="award"><span class="bg">约标奖</span><span class="num">200元</span></span>
							<i class="redpackage"></i>
						</h3>
						<div class="info">
							<div class="item w170">
								<p class="rate">12<small>%</small></p>
								<p>预期年化收益</p>
							</div>
							<div class="item w138 br">
								<p class="num">2<small>个月</small></p>
								<p>投资期限</p>
							</div>
							<div class="item w192">
								<p class="num">5<small>万元</small></p>
								<p>融资金额</p>
							</div>
							<div class="item w192">
								<p class="num large">13000<small>元</small></p>
								<p>剩余可投</p>
							</div>
							<div class="item">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa"  style="width: 78%;"></span>
									</span>
									<span class="percent">78%</span>
								</p>
								<p>还款方式：一次性还本付息</p>
							</div>
							<a href="#" class="btn">立即抢购</a>
						</div>
					</div>
					<div class="credit fadein">
						<h3>
							<a href="#">车辆抵押_2017071702</a>
							<span class="tips tips-2">车辆抵押</span>
						</h3>
						<div class="info">
							<div class="item w170">
								<p class="rate">12<small>%</small></p>
								<p>预期年化收益</p>
							</div>
							<div class="item w138 br">
								<p class="num">2<small>个月</small></p>
								<p>投资期限</p>
							</div>
							<div class="item w192">
								<p class="num">5<small>万元</small></p>
								<p>融资金额</p>
							</div>
							<div class="item w192">
								<p class="num large">13000<small>元</small></p>
								<p>剩余可投</p>
							</div>
							<div class="item">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa"  style="width: 78%;"></span>
									</span>
									<span class="percent">78%</span>
								</p>
								<p>还款方式：一次性还本付息</p>
							</div>
							<a href="#" class="btn">立即抢购</a>
						</div>
					</div>
					<div class="credit fadein">
						<h3>
							<a href="#">房产周转_2017071702</a>
							<span class="tips tips-1">房产抵押</span>
						</h3>
						<div class="info">
							<div class="item w170">
								<p class="rate">12<small>%</small></p>
								<p>预期年化收益</p>
							</div>
							<div class="item w138 br">
								<p class="num">2<small>个月</small></p>
								<p>投资期限</p>
							</div>
							<div class="item w192">
								<p class="num">5<small>万元</small></p>
								<p>融资金额</p>
							</div>
							<div class="item w192">
								<p class="num large">13000<small>元</small></p>
								<p>剩余可投</p>
							</div>
							<div class="item">
								<p class="progress-box">
									<span class="progress f-pr">
										<span class="child f-pa"  style="width: 78%;"></span>
									</span>
									<span class="percent">78%</span>
								</p>
								<p>还款方式：一次性还本付息</p>
							</div>
							<a href="#" class="btn complete">回款中</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pages-box">
				<div class="content">
					<div class="pages clearfix">
						<div class="pagelist f-fl">
							<a href="#" class="prev">上一页</a>
							<a href="#" class="num cur">1</a>
							<a href="#" class="num">2</a>
							<a href="#" class="num">3</a>
							<span>...</span>
							<a href="#" class="num">15</a>
							<a href="#" class="next">下一页</a>
						</div>
						<div class="total-jump f-fr">
							<span>共15页</span>
							<span>跳转<input type="text" class="page" value="2">页</span>
							<a class="sure">确定</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- main -->
		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
				<div class="footer-wrap">
					<p>
						<span>版权所有 &copy; </span>
	                    <span>2017深圳市引爆互联网金融服务有限公司</span>
	                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
					</p>
				</div>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>

	</body>
</html>