<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/credit_v2.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- main -->
		<div class="m-project">
			<div class="content">
				<div class="hd mt20 clearfix">
					<div class="project-info f-pr f-fl">
						<h3 class="name">
							<i class="tag etag">体</i> <!-- 新手标 .ntag，文字为“新” -->
							<span class="bname">体验标</span>
							<span class="type ml">注册即领28888体验金，投即计息</span>
						</h3>
						<div class="info clearfix">
							<div class="item w262">
								<p class="f-pr">
									预期年化收益率<i class="hd-icon qicon"></i>
									<span class="tips f-pa">预期年化收益率不代表实际利息收益</span>
								</p>
								<p class="high-color">12<span>+1.5</span><small>%</small></p>
							</div>
							<div class="item w232">
								<p>投资期限</p>
								<p class="num">5<small>个月</small></p>
							</div>
							<div class="item">
								<p>融资金额</p>
								<p class="num">150,000.00<small>元</small></p>
							</div>
						</div>
						<div class="detail">
							<div class="type f-fl">
								<p><label>还款方式：</label>一次性还本付息</p>
								<p><label>发布时间：</label>2017-07-06 15:07</p>
								<p><label>借款用途：</label>体验标</p>
								<p><label>温馨提示：</label>理财有风险，投资需谨慎</p>
							</div>
							<div class="type f-fr">
								<p>
									<label>项目进度：</label>
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 78%;"></span>
									</span>
									<span class="percent">78%</span>
								</p>
								<p><label>结束时间：</label>2017-07-13 15:07</p>
								<p><label>剩余时间：</label>3天22时28分11秒</p>
							</div>
						</div>
					</div>
					<div class="bid-box f-fr">
						<p class="level-amount">
							账户可用余额：
							<span class="unlogin"><a href="#">登录</a>后可见</span>
							<!-- 不可见 .unsee，移除.see -->
							<!-- <span class="high-color">820,205.35元<i class="hd-icon sicon see"></i></span> -->
							<!-- 登录后去掉 .gray -->
							<a class="go gray f-fr">充值&gt;</a>
						</p>
						<ul class="clearfix">
							<li>
								<p>剩余可投（元）</p>
								<p class="num">39,000</p>
							</li>
							<li class="tcenter">
								<p>预期收益（元）</p>
								<p class="num">2193.75</p>
							</li>
						</ul>
						<div class="ipt-box clearfix">
							<div class="ipt f-fl f-pr">
								<input type="text" value="100">
								<span class="arrow f-pa">
									<a class="down"></a>
									<a class="up"></a>
								</span>
								<p class="error-tips f-pa">账户余额小于剩余可投金额，请先充值！</p>
								<!-- <p class="error-tips f-pa">金额必须等于“递增金额的整数倍+起投金额”</p> -->
							</div>
							<button class="all f-fr">全额</button>
						</div>
						<div class="bid-tips f-pr clearfix">
							<span class="f-fl">递增金额：1,000.00元</span>
							<span class="ctips f-fr"><i class="cicon"></i>您有卡券可使用<a class="view">【查看】</a></span>
							<p class="clist f-pa">
								<span><span class="num">￥200.00</span>新手福利专享</span>
								<span><span class="num">￥150.00</span>老用户福利专享</span>
							</p>
						</div>
						<a href="#" class="btn bid">确认投资</a>
						<!-- <a href="#" class="btn login">确认投资</a>
						<a href="#" class="btn complete">已满标</a> -->
						<p class="tips"><i class="hd-icon cicon"></i><span>我已阅读并同意<a href="#">《无忧微贷交易服务协议》</a></span></p>
					</div>
				</div>
				<div class="ad mt20"><img src="../../Content/images/credit/project-ad.png" alt="无忧微贷"></div>
				<div class="bd mt20 clearfix">
					<div class="project-detail f-fl">
						<div class="tabs-box">
							<a class="cur">项目详情</a>
						</div>
						<div class="tabs-detail-1">
							<div class="etable-box">
								<p class="tit">什么是体验标？</p>
								<table>
									<tbody>
										<tr>
											<td>项目介绍</td>
											<td>体验标是无忧微贷设立的一个专门提供给平台新用户投资体验的虚拟项目。用户只可使体验金进行投资，项目到期后体验金本金由平台收回。收益发放到投资人个人账户，可用于平台其他项目投资。</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="risk">
								<p class="tit">温馨提示</p>
								<div class="detail">
									<p>1、仅限新注册的用户及注册后未投资的用户，每位用户只拥有一次体验机会。</p>
									<p>2、体验金只可用于体验标项目，不同时参与平台其他活动。</p>
									<p>3、本次活动由无忧微贷发起，最终解释权归无忧微贷所有。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="project-recommend f-fr">
						<div class="app-box clearfix">
							<div class="tips f-fl">
								<p class="large">扫码下载APP</p>
								<p>足不出户实现理财增值</p>
							</div>
							<p class="img f-fr"><img src="../../Content/images/credit/app.png"></p>
						</div>
						<ul class="recommend-list">
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- main -->
		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-wrap">
				<p>
					<span>版权所有 &copy; </span>
                    <span>2017深圳市引爆互联网金融服务有限公司</span>
                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
				</p>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
	</body>
</html>