<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="无忧微贷网是一家致力于打造专业、诚信网络借贷的平台，主要业务有投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融等。"/>
		<meta name="keywords" content="无忧微贷网-投资理财、短期理财、理财计划、个人理财、网络理财、小额分散、消费金融"/>
		<title>无忧微贷</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/public_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/credit_v2.css">
		<link rel="stylesheet" type="text/css" href="../../Content/css/modal.css">
	</head>
	<body>
		<div class="m-nav">
			<div class="nav-wrap">
				<div class="content clearfix">
					<p class="hotline f-fl"><i class="nav-icon icon-1 f-fl"></i>客服热线：13632818831（9:00 ~ 18:00）</p>
					<ul class="nav-wrap-menu f-fr">
						<li><a href="javascript:;">登录</a></li>
						<li><a href="javascript:;">注册</a></li>
						<li><a href="javascript:;">帮助中心</a></li>
						<li class="phone f-pr">
							<a href="javascript:;"><i class="nav-icon icon-2 f-fl"></i>手机APP</a>
							<div class="dropdown f-pa">
								<p class="img f-fl"><img src="../../Content/images/app.png"></p>
								<div class="tips">
									<p class="small-logo"><img src="../../Content/images/logo-small.png"></p>
									<p class="bold">无忧微贷APP</p>
									<p>让金融更简单</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="nav fixed">
				<div class="content clearfix">
					<div class="logo f-fl"><img src="../../Content/images/logo.png"></div>
					<ul class="nav-menu f-fr">
						<li class="cur"><a href="#">首页</a></li>
						<li><a href="#">我要投资</a></li>
						<li><a href="#">我要借款</a></li>
						<li><a href="#">信息披露</a></li>
						<!-- 登录后增加.is-login 显示下拉列表-->
						<li class="f-pr account is-login">
							<a href="#"><i class="nav-icon icon-3 f-fl"></i>我的账户</a>
							<i class="arrow-icon f-pa"></i>
							<div class="dropdown f-pa">
								<div class="item">
									<p>可用余额（元）<i class="see-icon see f-fr"></i></p>
									<p class="num">4,550,345.86</p>
								</div>
								<div class="item"><a href="#">我要充值</a></div>
								<div class="item"><a href="#">安全退出</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- main -->
		<div class="m-project">
			<div class="content">
				<div class="hd mt20 clearfix">
					<div class="project-info f-pr f-fl">
						<!-- 已满标图标.cion 已还款.rcion 还款中.unrcion -->
						<i class="status-icon cicon f-pa"></i>
						<h3 class="name f-pr">
							<i class="tag ytag">约</i>
							<span class="mtips ytips f-pa">平台根据出借人的约标意向（预约投标时间金额、周期）来匹配定向借款项目，只有预约投标的人才能投资；<br>如有投标意向可电话联系13632818831进行预约。</span>
							<span class="bname">李先生生意资金周转</span>
							<span class="award"><span class="bg">约标奖</span><span class="num">200元</span></span>
							<span class="mtips atips f-pa">凡参与预约投标的用户，成功投资后将获得投标金额的0.1%作为奖励，奖励将于投标成功后发放到“我的账户-红包 卡券”。</span>
							<i class="redpackage"></i>
						</h3>
						<!-- <h3 class="name f-pr">
							<span class="bname">李先生生意资金周转</span>
							<span class="tips">疯狂加息1.5%</span>
							<span class="type">房产抵押</span>
						</h3> -->
						<div class="info clearfix">
							<div class="item w262">
								<p class="f-pr">
									预期年化收益率<i class="hd-icon qicon"></i>
									<span class="tips f-pa">预期年化收益率不代表实际利息收益</span>
								</p>
								<p class="high-color">12<span>+1.5</span><small>%</small></p>
							</div>
							<div class="item w232">
								<p>投资期限</p>
								<p class="num">5<small>个月</small></p>
							</div>
							<div class="item">
								<p>融资金额</p>
								<p class="num">150,000.00<small>元</small></p>
							</div>
						</div>
						<div class="detail">
							<div class="type f-fl">
								<p><label>还款方式：</label>一次性还本付息</p>
								<p><label>发布时间：</label>2017-07-06 15:07</p>
								<p><label>借款用途：</label>生意周转</p>
								<p><label>温馨提示：</label>理财有风险，投资需谨慎</p>
							</div>
							<div class="type f-fr">
								<p>
									<label>项目进度：</label>
									<span class="progress f-pr">
										<span class="child f-pa" style="width: 78%;"></span>
									</span>
									<span class="percent">78%</span>
								</p>
								<p><label>结束时间：</label>2017-07-13 15:07</p>
								<p><label>剩余时间：</label>3天22时28分11秒</p>
								<p><label>起息日：</label>T(成交日)+1天</p>
							</div>
						</div>
					</div>
					<div class="bid-box f-fr">
						<p class="level-amount">
							账户可用余额：
							<span class="unlogin"><a href="#">登录</a>后可见</span>
							<!-- 不可见 .unsee，移除.see -->
							<!-- <span class="high-color">820,205.35元<i class="hd-icon sicon see"></i></span> -->
							<!-- 登录后去掉 .gray -->
							<a class="go gray f-fr">充值&gt;</a>
						</p>
						<ul class="clearfix">
							<li>
								<p>剩余可投（元）</p>
								<p class="num">39,000</p>
							</li>
							<li class="tcenter">
								<p>预期收益（元）</p>
								<p class="num">2193.75</p>
							</li>
						</ul>
						<div class="ipt-box clearfix">
							<div class="ipt f-fl f-pr">
								<input type="text" value="100">
								<span class="arrow f-pa">
									<a class="down"></a>
									<a class="up"></a>
								</span>
								<p class="error-tips f-pa">账户余额小于剩余可投金额，请先充值！</p>
								<!-- <p class="error-tips f-pa">金额必须等于“递增金额的整数倍+起投金额”</p> -->
							</div>
							<button class="all f-fr">全额</button>
						</div>
						<div class="bid-tips f-pr clearfix">
							<span class="f-fl">递增金额：1,000.00元</span>
							<span class="ctips f-fr"><i class="cicon"></i>您有卡券可使用<a class="view">【查看】</a></span>
							<p class="clist f-pa">
								<span><span class="num">￥200.00</span>新手福利专享</span>
								<span><span class="num">￥150.00</span>老用户福利专享</span>
							</p>
						</div>
						<a href="#" class="btn bid">确认投资</a>
						<!-- <a href="#" class="btn login">确认投资</a>
						<a href="#" class="btn complete">已满标</a> -->
						<p class="tips"><i class="hd-icon cicon"></i><span>我已阅读并同意<a href="#">《无忧微贷交易服务协议》</a></span></p>
					</div>
				</div>
				<div class="ad mt20"><img src="../../Content/images/credit/project-ad.png" alt="无忧微贷"></div>
				<div class="bd mt20 clearfix">
					<div class="project-detail f-fl">
						<div class="tabs-box">
							<a class="cur" data-id="1">项目详情</a>
							<a data-id="2">相关文件</a>
							<a data-id="3">还款计划</a>
							<a class="f-pr" data-id="4">投标列表<span class="num f-pa">25</span></a>
							<a data-id="5">收益计算</a>
						</div>
						<div class="tabs-detail-1" id="detail1">
							<div class="progress-box">
								<p class="tit">项目进度</p>
								<ul class="clearfix">
									<!-- 当前进度 li 增加 .cur -->
									<li class="cur">
										<i class="progress-icon icon-1"></i>
										<p class="bold">项目上线</p>
										<p>2017-06-29</p>
									</li>
									<li class="">
										<i class="progress-icon icon-2"></i>
										<p class="bold">项目募集</p>
										<p>历时1天3小时26分</p>
									</li>
									<li>
										<i class="progress-icon icon-3"></i>
										<p class="bold">项目放款</p>
										<p>2017-06-29</p>
									</li>
									<li>
										<i class="progress-icon icon-4"></i>
										<p class="bold">项目还款</p>
										<p>9&nbsp;/&nbsp;10期</p>
									</li>
								</ul>
							</div>
							<p class="tit">项目详情</p>
							<div class="login-sign">
								<p class="img"><img src="../../Content/images/credit/sign.png"></p>
								<p class="tip">登录后可查看，马上<a href="#">登录</a>或<a href="#">注册</a></p>
							</div>
							<!-- 以下注释部分为登录后可见 -->
							<!-- <div class="table-box">
								<table>
									<tr>
										<td>融资人</td>
										<td>贺**</td>
										<td>本期融资金额</td>
										<td>80000元</td>
									</tr>
									<tr>
										<td>所在地</td>
										<td>深圳</td>
										<td>本次授信额度</td>
										<td>80000元</td>
									</tr>
									<tr>
										<td>年化利率</td>
										<td>14.4%</td>
										<td class="f-pr">
											计划还款日期<i class="hd-icon qicon"></i>
											<span class="tips f-pa">计划还款日期不代表实际还款日期</span>
										</td>
										<td>2017年7月16日</td>
									</tr>
									<tr>
										<td>借款用途</td>
										<td>资金周转</td>
										<td>投标截止时间</td>
										<td>2017年7月15日 23:00:00</td>
									</tr>
									<tr>
										<td>房产价值</td>
										<td colspan="3">1253万元</td>
									</tr>
								</table>
							</div>
							<div class="table-box">
								<p class="tit">借款人基本信息</p>
								<table>
									<tr>
										<td>性别</td>
										<td>男</td>
										<td>出生年份</td>
										<td>1990年</td>
									</tr>
									<tr>
										<td>证件号码</td>
										<td>3622011990********</td>
										<td>涉诉情况</td>
										<td>融资人无未结被诉讼记录</td>
									</tr>
									<tr>
										<td>所属行业</td>
										<td>IT</td>
										<td>受行政处罚情况</td>
										<td>无</td>
									</tr>
									<tr>
										<td class="f-pr">
											借款情况<i class="hd-icon qicon"></i>
											<span class="tips tips1 f-pa">在其他网络借贷平台借款情况</span>
										</td>
										<td>无</td>
										<td>负债情况</td>
										<td>无</td>
									</tr>
									<tr>
										<td>财务状况</td>
										<td colspan="3">贺先生个人其他收入加公司月综合流水450000元左右</td>
									</tr>
									<tr>
										<td>经营/工作概括</td>
										<td colspan="3">贺先生、现就职于深圳***科技有限公司，任职公司运营总监一职，公司主要从事计算机领域内的技术开发、技术转让、技术咨询、计算机及耗材、计算机软硬件的技术开发及购销，网页设计、网络技术开发，计算机及其信息软件系统的设计、上门维护、计算机网络和通讯网络日案件的系统集成，动漫产品设计、通讯工程、安全技术防范系统设计及施工，国内贸易。</td>
									</tr>
								</table>
							</div>
							<div class="table-box-1">
								<p class="tit f-pr">
									借款人逾期情况<i class="hd-icon qicon"></i>
									<span class="tips f-pa">前6个月内征信报告中的逾期情况</span>
								</p>
								<table>
									<thead>
										<tr>
											<th>逾期次数</th>
											<th>逾期已还金额（元）</th>
											<th>逾期未还金额（元）</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>0</td>
											<td>0.00</td>
											<td>0.00</td>
										</tr>
									</tbody>
								</table>
							</div> -->
							<div class="risk">
								<p class="tit">风控措施</p>
								<div class="detail">
									<p>1、借款人已签订了相关的借款合同，手续合法有效。</p>
									<p>2、已进行实地靠擦周边地段的情况，核实该房产的市场价值。</p>
									<p>3、该房产需在公证处办理委托公证，后续贷款事项应由无忧微贷按揭部全权跟进贷款流程。</p>
								</div>
							</div>
							<div class="record">
								<p class="tit">信用记录</p>
								<div class="detail">
									<p>经人民银行征信系统查询债务人征信报告正常，债务人过往贷款记录优良，无贷款逾期、拖欠本息记录。提供银行流水真实充足。</p>
								</div>
							</div>
							<div class="repayment">
								<p class="tit">还款来源</p>
								<div class="detail">
									<p>1、第一还款来源：借款人在银行申请的1253万房产抵押贷款，放款后可用于还款。</p>
									<p>2、第二还款来源：当借款方无法偿还贷款，则处置抵押物来偿还。</p>
								</div>
							</div>
							<div class="record">
								<p class="tit">诉讼状况</p>
								<div class="detail">
									<p>经全国法院被执行人信息查询系统、全国法院失信被执行人名单信息公布与查询平台及互联网搜索，未发现借款人涉诉信息。</p>
								</div>
							</div>
						</div>
						<div class="tabs-detail-2 hide" id="detail2">
							<ul class="clearfix">
								<li><img src="../../Content/images/credit/file.png"></li>
								<li><img src="../../Content/images/credit/file.png"></li>
								<li><img src="../../Content/images/credit/file.png"></li>
								<li><img src="../../Content/images/credit/file.png"></li>
								<li><img src="../../Content/images/credit/file.png"></li>
								<li><img src="../../Content/images/credit/file.png"></li>
							</ul>
						</div>
						<div class="tabs-detail-3 hide" id="detail3">
							<div class="table-box">
								<table>
									<thead>
										<tr>
											<th width="16.67%">期次</th>
											<th width="16.67%">预期还款日期</th>
											<th width="16.67%">待还本息(元)</th>
											<th width="16.67%">待还本金</th>
											<th width="16.67%">待还利息</th>
											<th width="16.67%">剩余本金</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>2017-07-17</td>
											<td>158437.5</td>
											<td>150000</td>
											<td>8437.5</td>
											<td>0</td>
										</tr>
										<tr>
											<td>2</td>
											<td>2017-07-17</td>
											<td>158437.5</td>
											<td>150000</td>
											<td>8437.5</td>
											<td>0</td>
										</tr>
										<tr>
											<td>3</td>
											<td>2017-07-17</td>
											<td>158437.5</td>
											<td>150000</td>
											<td>8437.5</td>
											<td>0</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tabs-detail-4 hide" id="detail4">
							<div class="table-box">
								<table>
									<thead>
										<tr>
											<th width="20%">投标人</th>
											<th width="20%">投标金额(元)</th>
											<th width="20%">预期年化收益率</th>
											<th width="20%">投标时间</th>
											<th width="20%">投标方式</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>137***72</td>
											<td>80,000</td>
											<td>14.4%</td>
											<td>2017-06-29 18:25</td>
											<td class="f-pr"><i class="icon pc-icon f-pa"></i></td>
										</tr>
										<tr>
											<td>137***72</td>
											<td>80,000</td>
											<td>14.4%</td>
											<td>2017-06-29 18:25</td>
											<td class="f-pr"><i class="icon app-icon f-pa"></i></td>
										</tr>
										<tr>
											<td>137***72</td>
											<td>80,000</td>
											<td>14.4%</td>
											<td>2017-06-29 18:25</td>
											<td class="f-pr"><i class="icon app-icon f-pa"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tabs-detail-5 hide" id="detail5">
							<div class="ptlr">
								<ul class="credit-info">
									<li class="gray">
										<span>还款方式</span>
										<input type="text" value="一次性" readonly="true">
									</li>
									<li class="gray">
										<span>年化利率</span>
										<input type="text" value="10.5%" readonly="true">
									</li>
									<li class="gray">
										<span>投入时长</span>
										<input type="text" value="20天" readonly="true">
									</li>
									<li>
										<span>投入金额</span>
										<input type="text" placeholder="单位（元）">
									</li>
									<li class="coupon f-pr">
										<span>加息券</span>
										<!-- <input type="text" value="不使用加息券" readonly="true">
										<i class="arrow f-pa"></i>
										<div class="dropdown f-pa">
											<p>1%</p>
											<p>2%</p>
											<p>3%</p>
										</div> -->
										<select class="use-coupon">
											<option value="0">不使用加息券</option>
											<option value="1">1%</option>
											<option value="2">2%</option>
											<option value="3">3%</option>
										</select>
									</li>
								</ul>
								<a href="#" class="btn">计算</a>
								<p class="total">本息合计&nbsp;<span>0</span>&nbsp;元；利息收入共&nbsp;<span>0</span>&nbsp;元</p>
								<div class="table-box">
									<table>
										<thead>
											<tr>
												<th width="20%">期次</th>
												<th width="20%">本息合计(元)</th>
												<th width="20%">预期年化收益率</th>
												<th width="20%">投标时间</th>
												<th width="20%">投标方式</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>80,000</td>
												<td>14.4%</td>
												<td>2017-06-29 18:35</td>
												<td class="f-pr"><i class="icon app-icon f-pa"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="cal-tips">
									<p class="black">收益计算器简介</p>
									<p>收益计算器用于计算您投资将会获得的收益，理财更加透明高效，固定日还款项目由于计息方式略有不同，具体收益请参见投资后的统计。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="project-recommend f-fr">
						<div class="app-box clearfix">
							<div class="tips f-fl">
								<p class="large">扫码下载APP</p>
								<p>足不出户实现理财增值</p>
							</div>
							<p class="img f-fr"><img src="../../Content/images/credit/app.png"></p>
						</div>
						<ul class="recommend-list">
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
							<li>
								<i class="icon f-pa"></i>
								<h3>房产周转_2017071702</h3>
								<div class="info clearfix">
									<div class="item">
										<p class="rate">12<small>%</small></p>
										<p>预期年化收益</p>
									</div>
									<div class="item">
										<p class="num">2<small>个月</small></p>
										<p>投资期限</p>
									</div>
									<div class="item">
										<p class="num">20<small>万</small></p>
										<p>融资金额</p>
									</div>
								</div>
								<div class="percent-btn-box clearfix">
									<p class="progress-box f-fl">
										<span class="progress f-pr">
											<span class="child f-pa" style="width: 78%;"></span>
										</span>
										<span class="percent">78%</span>
									</p>
									<a href="#" class="btn f-fr">立即抢购</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!-- main -->
		<div class="m-footer">
			<div class="content">
				<div class="footer-menu clearfix">
					<ul class="website-map f-fl clearfix">
						<li>
							<p>关于我们</p>
							<a href="#">平台简介</a>
							<a href="#">荣耀资历</a>
							<a href="#">加入我们</a>
							<a href="#">联系我们</a>
						</li>
						<li>
							<p>信息披露</p>
							<a href="#">平台信息</a>
							<a href="#">平台数据</a>
							<a href="#">运营信息</a>
						</li>
						<li>
							<p>安全保障</p>
							<a href="#">法律法规</a>
							<a href="#">安全保障</a>
						</li>
					</ul>
					<div class="contact f-fr">
						<p class="img"><img src="../../Content/images/logo-footer.png"></p>
						<p>无忧微贷客服热线</p>
						<p class="num">13632818831</p>
						<p>客服工作时间：9:00-18:00</p>
						<p>深圳市福田区4036号荣超大厦9楼</p>
					</div>
					<ul class="qrcode clearfix">
						<li>
							<p class="img"><img src="../../Content/images/wechat.png"></p>
							<p>关注公众号，活动早知道</p>
						</li>
						<li>
							<p class="app"><img src="../../Content/images/app.png"></p>
							<p>下载APP，随时享理财</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-wrap">
				<p>
					<span>版权所有 &copy; </span>
                    <span>2017深圳市引爆互联网金融服务有限公司</span>
                    <span><a href="http://www.miitbeian.gov.cn">粤ICP备17018158号-2</a></span>
				</p>
			</div>
		</div>
		<div class="m-toolbar">
			<ul>
				<li class="phone">
					<i class="icon icon-1"></i>
					<div class="dropdown f-pa">
						<p>下载APP</p>
						<p>随时随地享理财</p>
						<p class="img"><img src="../../Content/images/app.png"></p>
					</div>
				</li>
				<li><i class="icon icon-2"></i></li>
				<li class="edit">
					<i class="icon icon-3"></i>
					<div class="dropdown f-pa">
						<p class="textarea"><textarea placeholder="我们期待您的意见和反馈，我们会不断优化产品，为您提供更好的体验与服务。"></textarea></p>
						<a class="submit">提交</a>
					</div> 
				</li>
				<li><i class="icon icon-4"></i></li>
				<li class="scroll-top"><i class="icon icon-5"></i></li>
			</ul>
		</div>

		<!-- 约标密码输入 -->
		<div class="overlay hide"></div>
		<div class="modal ymodal hide">
			<p class="banner"><a class="icon close"></a></p>
			<div class="main">
				<div class="item">
					<label class="f-pr">
						<i class="icon qicon"></i>约标密码：
						<span class="f-pa tips">约标成功后会生成一个定向预约标需求和定向预约标密码，定向标需要有定向标密码才能投资。定向标密码为约标用户的用户名前六位数字；</span>
					</label>
					<p class="f-pr">
						<input type="text" placeholder="请输入6位数字约标密码">
						<span class="f-pa warning">请输入正确的6位约标密码！</span>
					</p>
				</div>
				<!-- 高亮 .active -->
				<a href="#" class="btn">下一步</a>
			</div>
		</div>

		<script type="text/javascript" src="../../Scripts/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../../Scripts/common_v2.js"></script>
		<script type="text/javascript" src="../../Scripts/modal.js"></script>

		<script type="text/javascript">
			// 投标成功弹框
			new CancelModal({
				content: '<p>恭喜您，本次投标<span>100.00</span>元已成功！</p>',
				title: '<i class="bricon sicon f-fl"></i>无忧微贷提醒您',
				contentNodeCn: 'brmodal',
				confirmBtnCn: 'red ml',
				confirm: '继续投资',
				cancelBtnCn: 'cancel f-fr',
				cancel: '查看投资记录',
				success: function(){},  // 成功返回按钮
				fail: function(){
					console.info(111);
				}      // 失败返回按钮
			}).init();

			// 投标失败弹框
			// new AlertModal({
			// 	content: '<p>很遗憾，本次投资失败！</p>',
			// 	title: '<i class="bricon eicon f-fl"></i>无忧微贷提醒您',
			// 	contentNodeCn: 'brmodal',
			// 	confirm: '返回再试一次',
			// 	success: function(){}
			// }).init();

			$('.modal .close').on('click', function(){
				$('.overlay, .modal').addClass('hide');
			});

			$('.btn.bid').on('click', function(){
				$('.overlay, .modal').removeClass('hide');
			});

			// new CancelModal({
			// 	content: '<p>您的账户可用余额小于预约投标投资金额，请先充值！</p><p class="sm">剩余时间：<span>0</span>天<span>22</span>时<span>28</span>分<span>11</span>秒</p>',
			// 	title: '<i class="warning f-fl"></i>温馨提示',
			// 	contentNodeCn: 'brmodal ybmodal',
			// 	confirmBtnCn: 'red ml',
			// 	confirm: '继续充值',
			// 	cancelBtnCn: 'cancel f-fr',
			// 	cancel: '取消',
			// 	success: function(){},
			// 	fail: function(){}
			// }).init();
		</script>
	</body>
</html>