.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 5; }

.modal {
  width: 600px;
  border-radius: 4px;
  box-shadow: 2px 4px 14px 0px rgba(7, 144, 255, 0.15);
  background-color: #fff;
  z-index: 6;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  transform: translateY(-50%); }
  .modal .title {
    padding-left: 30px;
    height: 59px;
    line-height: 59px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #EBEFF3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fbfcfd;
    color: #454550; }
    .modal .title .warning {
      margin: 19px 12px 0 0;
      width: 26px;
      height: 22px;
      background: url(../../Content/images/modal/warning-icon.png) no-repeat; }
    .modal .title .bricon {
      margin: 17px 12px 0 0;
      width: 25px;
      height: 25px;
      background: url(../../Content/images/modal/bricon.png) no-repeat; }
      .modal .title .bricon.sicon {
        background-position: 0 0; }
      .modal .title .bricon.eicon {
        background-position: -25px 0; }
  .modal .close {
    top: 22px;
    right: 30px;
    width: 15px;
    height: 13px;
    background: url(../../Content/images/modal/close.png) no-repeat;
    display: inline-block;
    position: absolute;
    cursor: pointer; }
  .modal .btn {
    margin-left: 220px;
    width: 160px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    display: inline-block; }
    .modal .btn.red {
      background-color: #ff3300; }
      .modal .btn.red:hover {
        background-color: #ff5c33; }
    .modal .btn.blue {
      background-color: #0790ff; }
      .modal .btn.blue:hover {
        background-color: #39a6ff; }
  .modal .cancel {
    width: 158px;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    border: 1px solid #0790ff;
    font-size: 16px;
    color: #0790ff;
    text-align: center;
    display: inline-block; }
    .modal .cancel:hover {
      color: #fff;
      background-color: #0790ff; }
  .modal .cwmodal p {
    margin: 40px 30px 54px;
    line-height: 26px;
    color: #676770; }
  .modal .cwmodal ~ .btn {
    margin-bottom: 60px; }
  .modal .cbmodal {
    padding: 26px 30px 0; }
    .modal .cbmodal .banklist li {
      margin-bottom: 15px;
      height: 48px;
      line-height: 48px;
      border-radius: 4px;
      border: 1px solid #E3EAEF; }
      .modal .cbmodal .banklist li:last-child {
        margin-bottom: 0; }
      .modal .cbmodal .banklist li.bnone {
        border: none; }
      .modal .cbmodal .banklist li .cbicon {
        background: url(../../Content/images/modal/cbicon.png) no-repeat;
        display: inline-block; }
      .modal .cbmodal .banklist li .ricon {
        margin-left: 12px;
        width: 12px;
        height: 13px;
        background-position: -12px 0; }
        .modal .cbmodal .banklist li .ricon.check {
          background-position: 0 0; }
      .modal .cbmodal .banklist li .ticon {
        margin-left: 8px;
        width: 44px;
        height: 18px;
        line-height: 18px;
        background-position: -24px 0;
        font-size: 10px;
        color: #fff;
        text-align: center; }
      .modal .cbmodal .banklist li .binfo {
        margin-left: 16px;
        color: #565660; }
        .modal .cbmodal .banklist li .binfo .br {
          padding-right: 10px;
          border-right: 1px solid #E3EAEF; }
        .modal .cbmodal .banklist li .binfo .num {
          padding-left: 8px; }
      .modal .cbmodal .banklist li.cur {
        border: 1px solid #0790ff;
        box-shadow: 0 4px 14px 0 rgba(7, 144, 255, 0.15); }
        .modal .cbmodal .banklist li.cur .ricon {
          background-position: 0 0; }
        .modal .cbmodal .banklist li.cur .ticon {
          background-position: -68px 0;
          color: #ff3300; }
    .modal .cbmodal .add-newcard {
      margin: 18px 0 40px;
      width: 192px;
      height: 48px;
      line-height: 48px;
      border-radius: 4px;
      border: 1px dashed rgba(7, 144, 255, 0.3);
      color: #0790ff;
      text-align: center;
      display: block; }
    .modal .cbmodal .pinfo {
      margin: -14px 0 15px; }
      .modal .cbmodal .pinfo li {
        margin-bottom: 15px;
        color: #676770; }
        .modal .cbmodal .pinfo li:nth-child(1), .modal .cbmodal .pinfo li:nth-child(2), .modal .cbmodal .pinfo li:nth-child(3) {
          margin-bottom: 12px; }
        .modal .cbmodal .pinfo li label {
          width: 92px;
          text-align: right;
          display: inline-block;
          float: left; }
        .modal .cbmodal .pinfo li span, .modal .cbmodal .pinfo li input {
          margin-left: 10px; }
        .modal .cbmodal .pinfo li .ipt {
          width: 434px;
          height: 48px;
          line-height: 48px;
          border-radius: 4px;
          border: 1px solid #E3EAEF;
          text-indent: 15px; }
          .modal .cbmodal .pinfo li .ipt.small {
            width: 263px; }
          .modal .cbmodal .pinfo li .ipt::-webkit-input-placeholder {
            color: #908f9a; }
        .modal .cbmodal .pinfo li .code {
          width: 154px;
          height: 48px;
          line-height: 48px;
          border-radius: 4px;
          border: 1px solid #0790ff;
          color: #0790ff;
          text-align: center;
          display: inline-block; }
          .modal .cbmodal .pinfo li .code.disable {
            border: 1px solid #E3EAEF;
            color: #908f9a; }
        .modal .cbmodal .pinfo li .bind {
          margin: 15px 0 15px 102px;
          width: 160px;
          height: 44px;
          line-height: 44px;
          font-size: 16px;
          border-radius: 4px;
          background-color: #0790ff;
          color: #fff;
          text-align: center;
          display: inline-block; }
          .modal .cbmodal .pinfo li .bind:hover {
            background-color: #39a6ff; }
    .modal .cbmodal ~ .btn {
      margin-bottom: 40px; }
  .modal .brmodal p {
    padding: 44px 0 36px;
    font-size: 16px;
    color: #676770;
    text-align: center; }
    .modal .brmodal p span {
      color: #ff3300; }
  .modal .brmodal ~ .btn {
    margin-bottom: 40px;
    font-size: 14px; }
    .modal .brmodal ~ .btn.ml {
      margin-left: 130px; }
  .modal .brmodal ~ .cancel {
    margin-right: 130px;
    font-size: 14px; }

/*# sourceMappingURL=modal.css.map */
